<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Todo App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
</head>

<body>
    <div id="app">
        <form @submit.prevent="addTodo()">
            <input v-model="title" type="text" placeholder="What are you going to do?" required>
            <button>Add</button>
        </form>
        <ul>
            <li v-for="todo in sortedTodos" :key="todo.id">
                <input @change="updateTodo(todo)" type="checkbox" v-model="todo.done">
                {{ todo.title }}
                <button @click="deleteTodo(todo)">&times;</button>
            </li>
        </ul>
    </div>

    <script>
        const apiUrl = "https://localhost:7233/api/TodoItems";

        Vue.createApp({
            data() {
                return {
                    todos: [],
                    title: ""
                };
            },
            mounted() {
                // vue nesnesi ilk oluşturulduğunda çalışır
                fetch(apiUrl)
                    .then(res => res.json())
                    .then(data => this.todos = data);
            },
            methods: {
                addTodo() {
                    const newTodo = {
                        title: this.title,
                        done: false
                    };
                    this.title = "";
                    fetch(apiUrl, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(newTodo)
                    })
                        .then(res => res.json())
                        .then(data => this.todos.push(data));
                },
                updateTodo(todo) {
                    fetch(`${apiUrl}/${todo.id}`, {
                        method: "PUT",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(todo)
                    })
                        .then(res => {
                            if (res.ok) {
                                // todo başarıyla güncellendi
                            }
                            else {
                                throw new Error("Todo güncellenemedi");
                            }
                        })
                        .catch(err => {
                            // hata oluştu, geri al
                            todo.done = !todo.done;
                        });
                },
                deleteTodo(todo) {
                    fetch(apiUrl + "/" + todo.id, { method: "delete" })
                        .then(res => {
                            if (res.ok) {
                                this.todos = this.todos.filter(x => x.id != todo.id);
                            }
                        });
                }
            },
            computed: {
                sortedTodos() {
                    return this.todos.sort((a, b) => a.done - b.done);
                }
            }
        }).mount("#app");
    </script>
</body>

</html>